<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Flask!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>
      <style>
          .bold {
              font-weight: bold;
          }
      </style>
  <section class="section">
    <div class="box">
      <h1 class="title">
        Hello World
      </h1>
      <h2 class="subtitle">
       Hello from Flask! <strong>{{date}}</strong>!
      </p>
    </div>
  </section>
    <div class="box">
        <div class="content">
            <table>
            <thead>
                <tr>
                <th>key</th>
                <th>value</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>cookiesModified</td>
                    <td class="bold">{{SRC["cookiesModified"]}}</td>
                </tr>
                <tr>
                    <td>refresh cookies every (seconds)</td>
                    <td class="bold">{{SRC["refreshEvery"]}}</td>
                </tr>
                <tr>
                    <td>lastRequestDate</td>
                    <td class="bold">{{SRC["lastRequestDate"]}}</td>
                </tr>
                <tr>
                <td>notificationText</td>
                <td class="bold">{{SRC["notificationText"].format(SRC["lastRequestDate"])}}</td>
                </tr>

                <tr>
                    <td>phones to call</td>
                    <td class="bold">{{" ".join(SRC["phones"])}}</td>
                </tr>
            </tbody>
            </table>
        </div>
    </div>




  <footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
        is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
      </p>
    </div>
  </footer>
  </body>
</html>