
        <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logs</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
    <section class="section">
        <div class="box">
        <h1 class="title">
            Hello User
        </h1>
        <h2 class="subtitle">
        This is the page with <strong>logs</strong>!
        </p>
        </div>
    </section>
    <section class="section">
        <div class="box">
        <div class='box'><strong>22:06:06-23:03:25</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 1 time</i></div>

<div class='box'><strong>22:06:06-23:04:57</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">getVisa          </span> <i>Response: (200) https://prenotami.esteri.it/Home?ReturnUrl=%2fServices</i></div>

<div class='box'><strong>22:06:06-23:04:57</strong> <span style="color:#00994d">WARNING </span> <span style="color:#9933ff">main             </span> <i>fake html page! Visa : NO</i></div>

<div class='box'><strong>22:06:06-23:06:53</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">updateCookies    </span> <i>Auth response: (200) https://prenotami.esteri.it/UserArea</i></div>

<div class='box'><strong>22:06:06-23:06:53</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">updateCookies    </span> <i>Cookies was upgraded successfully</i></div>
        </div>
    </section>
    </body>
    </html>
        