
        <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Logs</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>
    <body>
    <section class="section">
        <div class="box">
        <h1 class="title">
            Hello User
        </h1>
        <h2 class="subtitle">
        This is the page with <strong>logs</strong>!
        </p>
        </div>
    </section>
    <section class="section">
        <div class="box">
        <div class='box'><strong>22:06:06-23:03:25</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 1 time</i></div>

<div class='box'><strong>22:06:06-23:04:57</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">getVisa          </span> <i>Response: (200) https://prenotami.esteri.it/Home?ReturnUrl=%2fServices</i></div>

<div class='box'><strong>22:06:06-23:04:57</strong> <span style="color:#00994d">WARNING </span> <span style="color:#9933ff">main             </span> <i>fake html page! Visa : NO</i></div>

<div class='box'><strong>22:06:06-23:06:53</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">updateCookies    </span> <i>Auth response: (200) https://prenotami.esteri.it/UserArea</i></div>

<div class='box'><strong>22:06:06-23:06:53</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">updateCookies    </span> <i>Cookies was upgraded successfully</i></div>

<div class='box'><strong>22:06:06-23:16:54</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 2 time</i></div>

<div class='box'><strong>22:06:07-00:31:29</strong> <span style="color:#00994d">CRITICAL</span> <span style="color:#9933ff">main             </span> <i>Killed by user</i></div>

<div class='box'><strong>22:06:07-00:31:58</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 1 time</i></div>

<div class='box'><strong>22:06:07-00:31:58</strong> <span style="color:#00994d">WARNING </span> <span style="color:#9933ff">getVisa          </span> <i>Cookies are old or empty . Get new cookies . delta = 5313.0</i></div>

<div class='box'><strong>22:06:07-00:32:05</strong> <span style="color:#00994d">CRITICAL</span> <span style="color:#9933ff">main             </span> <i>Killed by user</i></div>

<div class='box'><strong>22:06:07-00:32:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 1 time</i></div>

<div class='box'><strong>22:06:07-00:32:14</strong> <span style="color:#00994d">WARNING </span> <span style="color:#9933ff">getVisa          </span> <i>Cookies are old or empty . Get new cookies . delta = 5329.0</i></div>

<div class='box'><strong>22:06:07-00:32:15</strong> <span style="color:#00994d">CRITICAL</span> <span style="color:#9933ff">main             </span> <i>Killed by user</i></div>

<div class='box'><strong>22:06:07-00:33:05</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 1 time</i></div>

<div class='box'><strong>22:06:07-00:33:05</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log             </span> <i> * Running on all addresses (0.0.0.0)</i></div>

<div class='box'><strong>   WARNING: This </strong> <span style="color:#00994d">s a deve</span> <span style="color:#9933ff">opment server. Do</span> <i>not use it in a production deployment.</i></div>

<div class='box'><strong> * Running on htt</strong> <span style="color:#00994d">://127.0</span> <span style="color:#9933ff">0.1:8080</span> <i></i></div>

<div class='box'><strong> * Running on htt</strong> <span style="color:#00994d">://172.1</span> <span style="color:#9933ff">.0.2:8080 (Press </span> <i>TRL+C to quit)</i></div>

<div class='box'><strong>22:06:07-00:33:05</strong> <span style="color:#00994d">WARNING </span> <span style="color:#9933ff">getVisa          </span> <i>Cookies are old or empty . Get new cookies . delta = 5380.0</i></div>

<div class='box'><strong>22:06:07-00:34:40</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">updateCookies    </span> <i>Auth response: (200) https://prenotami.esteri.it/UserArea</i></div>

<div class='box'><strong>22:06:07-00:34:40</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">updateCookies    </span> <i>Cookies was upgraded successfully</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">getVisa          </span> <i>Response: (200) https://prenotami.esteri.it/UserArea</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>[VISA]: YES</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">sendNotification </span> <i>I'm gonna send notification with text : Urgently!</i></div>

<div class='box'><strong>  Visa is availab</strong> <span style="color:#00994d">e now!</span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>Go to the https:/</strong> <span style="color:#00994d">prenotam</span> <span style="color:#9933ff">.esteri.it/Servic</span> <i>s/Booking/1090</i></div>

<div class='box'><strong></strong> <span style="color:#00994d"></span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>{0}</strong> <span style="color:#00994d"></span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- BEGIN Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>POST Request: https://api.twilio.com/2010-04-01/Accounts/AC7dbca2240d07367205c3e5c2c141713b/Messages.json</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Headers:</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>User-Agent : twilio-python/7.9.2 (Linux x86_64) Python/3.8.10</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>X-Twilio-Client : python-7.9.2</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept-Charset : utf-8</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Content-Type : application/x-www-form-urlencoded</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept : application/json</i></div>

<div class='box'><strong>22:06:07-00:34:49</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- END Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:34:50</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Status Code: 201</i></div>

<div class='box'><strong>22:06:07-00:34:50</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Headers: {'Date': 'Mon, 06 Jun 2022 21:34:50 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '906', 'Connection': 'keep-alive', 'Twilio-Concurrent-Requests': '1', 'Twilio-Request-Id': 'RQ5d5566156c12cf606939a3946049b98b', 'Twilio-Request-Duration': '0.147', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Accept, Authorization, Content-Type, If-Match, If-Modified-Since, If-None-Match, If-Unmodified-Since', 'Access-Control-Allow-Methods': 'GET, POST, DELETE, OPTIONS', 'Access-Control-Expose-Headers': 'ETag', 'Access-Control-Allow-Credentials': 'true', 'X-Powered-By': 'AT-5000', 'X-Shenanigans': 'none', 'X-Home-Region': 'us1', 'X-API-Domain': 'api.twilio.com', 'Strict-Transport-Security': 'max-age=31536000'}</i></div>

<div class='box'><strong>22:06:07-00:34:50</strong> <span style="color:#00994d">ERROR   </span> <span style="color:#9933ff">sendNotification </span> <i>Can't send notification. Error: module 'logging' has no attribute 'indo'</i></div>

<div class='box'><strong>22:06:07-00:34:56</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 2 time</i></div>

<div class='box'><strong>22:06:07-00:35:10</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">getVisa          </span> <i>Response: (200) https://prenotami.esteri.it/Home?ReturnUrl=%2fUserArea</i></div>

<div class='box'><strong>22:06:07-00:35:10</strong> <span style="color:#00994d">WARNING </span> <span style="color:#9933ff">main             </span> <i>fake html page! Visa : NO</i></div>

<div class='box'><strong>22:06:07-00:36:03</strong> <span style="color:#00994d">CRITICAL</span> <span style="color:#9933ff">main             </span> <i>Killed by user</i></div>

<div class='box'><strong>22:06:07-00:38:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 1 time</i></div>

<div class='box'><strong>22:06:07-00:38:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log             </span> <i> * Running on all addresses (0.0.0.0)</i></div>

<div class='box'><strong>   WARNING: This </strong> <span style="color:#00994d">s a deve</span> <span style="color:#9933ff">opment server. Do</span> <i>not use it in a production deployment.</i></div>

<div class='box'><strong> * Running on htt</strong> <span style="color:#00994d">://127.0</span> <span style="color:#9933ff">0.1:8080</span> <i></i></div>

<div class='box'><strong> * Running on htt</strong> <span style="color:#00994d">://172.1</span> <span style="color:#9933ff">.0.2:8080 (Press </span> <i>TRL+C to quit)</i></div>

<div class='box'><strong>22:06:07-00:38:36</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log             </span> <i>127.0.0.1 - - [07/Jun/2022 00:38:36] "GET / HTTP/1.1" 200 -</i></div>

<div class='box'><strong>22:06:07-00:38:36</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log             </span> <i>127.0.0.1 - - [07/Jun/2022 00:38:36] "[33mGET /favicon.ico HTTP/1.1[0m" 404 -</i></div>

<div class='box'><strong>22:06:07-00:38:38</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log             </span> <i>127.0.0.1 - - [07/Jun/2022 00:38:38] "[33mGET /service-worker.js HTTP/1.1[0m" 404 -</i></div>

<div class='box'><strong>22:06:07-00:38:50</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">getVisa          </span> <i>Response: (200) https://prenotami.esteri.it/Services</i></div>

<div class='box'><strong>22:06:07-00:38:50</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>[VISA]: NO</i></div>

<div class='box'><strong>22:06:07-00:38:56</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 2 time</i></div>

<div class='box'><strong>22:06:07-00:39:13</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">getVisa          </span> <i>Response: (200) https://prenotami.esteri.it/Services</i></div>

<div class='box'><strong>22:06:07-00:39:13</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>[VISA]: NO</i></div>

<div class='box'><strong>22:06:07-00:39:19</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">main             </span> <i>Starting 3 time</i></div>

<div class='box'><strong>22:06:07-00:39:20</strong> <span style="color:#00994d">CRITICAL</span> <span style="color:#9933ff">main             </span> <i>Killed by user</i></div>

<div class='box'><strong>22:06:07-00:40:13</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">sendNotification </span> <i>I'm gonna send notification with text : Urgently!</i></div>

<div class='box'><strong>  Visa is availab</strong> <span style="color:#00994d">e now!</span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>Go to the https:/</strong> <span style="color:#00994d">prenotam</span> <span style="color:#9933ff">.esteri.it/Servic</span> <i>s/Booking/1090</i></div>

<div class='box'><strong></strong> <span style="color:#00994d"></span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>{0}</strong> <span style="color:#00994d"></span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- BEGIN Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>POST Request: https://api.twilio.com/2010-04-01/Accounts/AC7dbca2240d07367205c3e5c2c141713b/Messages.json</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Headers:</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>User-Agent : twilio-python/7.9.2 (Linux x86_64) Python/3.8.10</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>X-Twilio-Client : python-7.9.2</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept-Charset : utf-8</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Content-Type : application/x-www-form-urlencoded</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept : application/json</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- END Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Status Code: 201</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Headers: {'Date': 'Mon, 06 Jun 2022 21:40:14 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '906', 'Connection': 'keep-alive', 'Twilio-Concurrent-Requests': '1', 'Twilio-Request-Id': 'RQ4e08cfea117f579e0b810b2b634d4a47', 'Twilio-Request-Duration': '0.142', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Accept, Authorization, Content-Type, If-Match, If-Modified-Since, If-None-Match, If-Unmodified-Since', 'Access-Control-Allow-Methods': 'GET, POST, DELETE, OPTIONS', 'Access-Control-Expose-Headers': 'ETag', 'Access-Control-Allow-Credentials': 'true', 'X-Powered-By': 'AT-5000', 'X-Shenanigans': 'none', 'X-Home-Region': 'us1', 'X-API-Domain': 'api.twilio.com', 'Strict-Transport-Security': 'max-age=31536000'}</i></div>

<div class='box'><strong>22:06:07-00:40:14</strong> <span style="color:#00994d">ERROR   </span> <span style="color:#9933ff">sendNotification </span> <i>Can't send notification. Error: module 'logging' has no attribute 'indo'</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">sendNotification </span> <i>I'm gonna send notification with text : Urgently!</i></div>

<div class='box'><strong>  Visa is availab</strong> <span style="color:#00994d">e now!</span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>Go to the https:/</strong> <span style="color:#00994d">prenotam</span> <span style="color:#9933ff">.esteri.it/Servic</span> <i>s/Booking/1090</i></div>

<div class='box'><strong></strong> <span style="color:#00994d"></span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>{0}</strong> <span style="color:#00994d"></span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- BEGIN Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>POST Request: https://api.twilio.com/2010-04-01/Accounts/AC7dbca2240d07367205c3e5c2c141713b/Messages.json</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Headers:</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>User-Agent : twilio-python/7.9.2 (Linux x86_64) Python/3.8.10</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>X-Twilio-Client : python-7.9.2</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept-Charset : utf-8</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Content-Type : application/x-www-form-urlencoded</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept : application/json</i></div>

<div class='box'><strong>22:06:07-00:41:44</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- END Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:41:45</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Status Code: 201</i></div>

<div class='box'><strong>22:06:07-00:41:45</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Headers: {'Date': 'Mon, 06 Jun 2022 21:41:45 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '906', 'Connection': 'keep-alive', 'Twilio-Concurrent-Requests': '1', 'Twilio-Request-Id': 'RQf13875230042f1e1bc93f069592f50d8', 'Twilio-Request-Duration': '0.137', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Accept, Authorization, Content-Type, If-Match, If-Modified-Since, If-None-Match, If-Unmodified-Since', 'Access-Control-Allow-Methods': 'GET, POST, DELETE, OPTIONS', 'Access-Control-Expose-Headers': 'ETag', 'Access-Control-Allow-Credentials': 'true', 'X-Powered-By': 'AT-5000', 'X-Shenanigans': 'none', 'X-Home-Region': 'us1', 'X-API-Domain': 'api.twilio.com', 'Strict-Transport-Security': 'max-age=31536000'}</i></div>

<div class='box'><strong>22:06:07-00:41:45</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">sendNotification </span> <i>Sending Notification to +375293327812</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">sendNotification </span> <i>I'm gonna send notification with text : Urgently!</i></div>

<div class='box'><strong>  Visa is availab</strong> <span style="color:#00994d">e now!</span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>Go to the https:/</strong> <span style="color:#00994d">prenotam</span> <span style="color:#9933ff">.esteri.it/Servic</span> <i>s/Booking/1090</i></div>

<div class='box'><strong></strong> <span style="color:#00994d"></span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>2022:06:07-00:38:</strong> <span style="color:#00994d">6(+0300)</span> <span style="color:#9933ff"></span> <i></i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- BEGIN Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>POST Request: https://api.twilio.com/2010-04-01/Accounts/AC7dbca2240d07367205c3e5c2c141713b/Messages.json</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Headers:</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>User-Agent : twilio-python/7.9.2 (Linux x86_64) Python/3.8.10</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>X-Twilio-Client : python-7.9.2</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept-Charset : utf-8</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Content-Type : application/x-www-form-urlencoded</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept : application/json</i></div>

<div class='box'><strong>22:06:07-00:52:03</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- END Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:52:04</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Status Code: 201</i></div>

<div class='box'><strong>22:06:07-00:52:04</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Headers: {'Date': 'Mon, 06 Jun 2022 21:52:04 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '929', 'Connection': 'keep-alive', 'Twilio-Concurrent-Requests': '1', 'Twilio-Request-Id': 'RQb4efe77baa647236d7ef8a1a320ba2ba', 'Twilio-Request-Duration': '0.152', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Accept, Authorization, Content-Type, If-Match, If-Modified-Since, If-None-Match, If-Unmodified-Since', 'Access-Control-Allow-Methods': 'GET, POST, DELETE, OPTIONS', 'Access-Control-Expose-Headers': 'ETag', 'Access-Control-Allow-Credentials': 'true', 'X-Powered-By': 'AT-5000', 'X-Shenanigans': 'none', 'X-Home-Region': 'us1', 'X-API-Domain': 'api.twilio.com', 'Strict-Transport-Security': 'max-age=31536000'}</i></div>

<div class='box'><strong>22:06:07-00:52:04</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">sendNotification </span> <i>Sending Notification to +375293327812</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- BEGIN Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>POST Request: https://api.twilio.com/2010-04-01/Accounts/AC7dbca2240d07367205c3e5c2c141713b/Messages.json</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Headers:</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>User-Agent : twilio-python/7.9.2 (Linux x86_64) Python/3.8.10</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>X-Twilio-Client : python-7.9.2</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept-Charset : utf-8</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Content-Type : application/x-www-form-urlencoded</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>Accept : application/json</i></div>

<div class='box'><strong>22:06:07-00:54:34</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_request     </span> <i>-- END Twilio API Request --</i></div>

<div class='box'><strong>22:06:07-00:54:35</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Status Code: 201</i></div>

<div class='box'><strong>22:06:07-00:54:35</strong> <span style="color:#00994d">INFO    </span> <span style="color:#9933ff">_log_response    </span> <i>Response Headers: {'Date': 'Mon, 06 Jun 2022 21:54:35 GMT', 'Content-Type': 'application/json; charset=utf-8', 'Content-Length': '929', 'Connection': 'keep-alive', 'Twilio-Concurrent-Requests': '1', 'Twilio-Request-Id': 'RQ4aa11f7829a386857c16a040113d575d', 'Twilio-Request-Duration': '0.139', 'Access-Control-Allow-Origin': '*', 'Access-Control-Allow-Headers': 'Accept, Authorization, Content-Type, If-Match, If-Modified-Since, If-None-Match, If-Unmodified-Since', 'Access-Control-Allow-Methods': 'GET, POST, DELETE, OPTIONS', 'Access-Control-Expose-Headers': 'ETag', 'Access-Control-Allow-Credentials': 'true', 'X-Powered-By': 'AT-5000', 'X-Shenanigans': 'none', 'X-Home-Region': 'us1', 'X-API-Domain': 'api.twilio.com', 'Strict-Transport-Security': 'max-age=31536000'}</i></div>
        </div>
    </section>
    </body>
    </html>
        